@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my first web site<a href="https://www.facebook.com/tri.nguyenminh.14855/"></a>.</p>
</div>